@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  color: black;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  /* background-image: url("https://logincdn.msauth.net/shared/1.0/content/images/backgrounds/2_bc3d32a696895f78c19df6c717586a5d.svg"); */
  background-image: url("./assets/illustration.png");
  /* background-color: #fff; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  background-blend-mode: darken;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.major-container {
  width: 440px;
  max-width: 440px;
  /* padding: 0 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.3rem;
}

.f-top {
  line-height: 1.5rem;
  font-size: 15px;
}

.container {
  overflow: hidden;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 24px;
}

.ft {
  color: #000;
  font-size: 13px;
}

.outlook {
  max-width: 256px;
  max-height: 36px;
}

.logo {
  width: 150px;
  object-fit: contain;
  height: 36px;
  margin-top: 8px;
  margin-left: 0px;
}



.school-info-form .input-group {
  margin-bottom: 15px;
}

.school-info-form input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 35px; /* Ensure space for the button inside */
}

.password-wrapper button {
  position: absolute;
  right: 5px; /* Position it to the right side */
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 11px; /* Adjust the size of the icon */
  cursor: pointer;
  color: #007bff;
}

.password-wrapper button:hover {
  opacity: 0.8;
}



.toggle-password {
  background: none;
  border: none;
  color: #0078d4;
  cursor: pointer;
  font-size: 0.9rem;
}


.form-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
}

.field-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 8px;
}

input {
  width: 100%;
  background-color: white;
  border: none;
  border-bottom: 1px solid grey;
  padding: 0.5rem 0;
  font-size: 1rem;
  outline: none;
  color: black;
}

.reset {
  font-size: 13px;
}

.reset:hover,
ul > li > a:hover {
  color: rgb(96, 95, 95) !important;
  text-decoration: underline solid 1.5px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.next {
  background-color: #0067b8;
  color: white;
  border-radius: 0;
  outline: none;
  display: block;

}

strong {
  font-weight: 700;
}

ul {
  width: 100%;
  background-color: rgb(242, 242, 242);
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

ul > li {
  color: black;
}

a {
  color: #0067b8;
  text-shadow: 0px 0px 0.5px #0067b8;
  font-size: 15px;
}

h1 {
  text-shadow: 0px 0px 0.5px #000;
}

button {
  background-color: rgb(0, 103, 184);
  padding: 4px 12px;
  width: 100px;
  outline: none !important;
  text-shadow: 0px 0px 0.5px #fff;
}

.signin-options {
  background-color: white;
  color: black;
  width: 100%;
  padding: 8px 44px;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.signin-options img {
  width: 32px;
  height: 32px;
}

.email-entered {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
}

.guide {
  color: black;
}

.arrow {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white !important;
  border: none;
}

.arrow:hover {
  background-color: #70809017 !important;
  cursor: pointer;
  border: none;
}

.cancel-btn-con {
  justify-content: flex-start;
}

.cancel {
  background-color: transparent !important;
  color: #0067b8;
  padding: 0 !important;
  width: auto;
  border: none;
}

.cancel:hover {
  text-decoration: underline 1px;
}

.error {
  color: red;
  text-shadow: 0px 0px 0.5px red;
}

.reset-link {
  color: #0067b8;
  text-shadow: 0px 0px 0.5px #0067b8;
  cursor: pointer;
  text-decoration: none;
  margin-left: 2px;
}

.reset-link:hover {
  text-decoration: underline 1px solid #55626e !important;
  color: #55626e !important;
}

.loader-container {
  position: relative;
  width: 100%;
  height: 1rem;
  overflow: hidden;
}

.circle {
  width: 4px;
  height: 4px;
  background-color: #0078d4;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  column-gap: 24px;
  background-color: #1414129c;
  width: 100vw;
  padding: 8px;
}

.footer a {
  font-size: 12px;
  color: white;
  text-shadow: 0px 0.7px white;
}

.dot {
  letter-spacing: 2px;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  body {
    align-items: flex-start;
    background-color: white;
    padding: 0;
    height: 100%;
    display: block;
    max-width: 100vw;
    background-image: none;
  }

  /* p{
    font-size: 1rem !important;
  } */

  .major-container {
    padding: 20px;
    max-width: 100%;
    width: 100% !important;
    min-width: 99vw;
    row-gap: 0;
  }
  .outlook {
    display: none;
  }

  .container {
    padding: 0;
    border: none;
  }

  .container,
  .signin-options {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    box-shadow: none;
  }

  .field-container {
    padding: 0;
  }

  ul {
    padding: 20px;
  }

  .form-title {
    font-size: 1.2rem;
  }

  .logo {
    width: 200px;
    height: 40px;
    margin: 0px 0 0;
  }

  .button-container {
    padding-bottom: 24px;
  }

  .signin-options {
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 8px;
  }

  .button-container {
    padding-bottom: 16px;
  }

  .footer {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    column-gap: 20px;
    padding-left: 36px;
  }

  .footer a {
    font-size: 12px;
    color: #fff;
    text-shadow: 0px 0.7px #747474;
  }

  li {
    font-size: 15px;
    line-height: 0;
  }

  ul > li {
    line-height: 1.3rem;
  }

  .f-top {
    list-style: 1.3rem !important;
  }

  .reset-link:hover {
    color: #55626e !important;
  }

  .arrow {
    width: 20px;
    height: 20px;
  }

  .circle {
    width: 3px;
    height: 3px;
  }
}

@media screen and (max-width: 400px) {
  .major-container {
    padding: 24px 16px;
  }

  .logo {
    margin: 5px 0;
    width: 190px;
    height: 80px;
  }

  .next {
    padding: 8px 18px;
  }

  .form-title {
    font-size: 1.25rem;
  }

  input {
    font-size: 0.9rem;
  }

  .button-container {
    padding-bottom: 20px;
  }
}
